html{
    padding: 30px;
    display: block;
    background-color: #000080;
    width: auto;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .container {
    padding: 30px;
    display: block;
    border-radius: 15%;
      background-color:white;
  }
  button{
      border-radius: 50%;
      color: blueviolet
;
  }